.imgBook {
  width: 40%;
}

.alignCenter {
  text-align: center;
}

.addCar {
  cursor: pointer;
  padding: 8px;
  border: solid 1px;
  border-radius: 10%;
  color: #007bff;
}

.addCar:hover {
  color: #0066ff;
}
